# Ignore virtual environment
venv/
__pycache__/

# Ignore datasets and large files
datasets/
runs/
outputs/
uploads/
pdfs/

# Ignore config or temporary files
.env
*.pyc

# Ignore OS files
.DS_Store
Thumbs.db
